<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System</title>
</head>
<body>
    <div align="center">
        <h1>Employee list</h1>
        <table border="2">
            <thead>
                <tr>
                    <th> Employee First Name </th>
                    <th> Employee Last Name </th>
                    <th> Employee Email </th>
                    <th> Employee Age</th>
                    <th> Employee Image</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${ListEmployees}">
                    <td th:text="${employee.fistName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.Age}"></td>
            </tbody>
        </table>
    </div>
</body>
</html>